* {
	margin: 0px;
	padding: 0px;
}

html, body {
	height: 100%;
}

@font-face {
	font-family: "Constantia";
	src: local("Constantia"),
	url("../fonts/constantia.eot"),
	url("../fonts/constantia.woff2") format("woff2"),
	url("../fonts/constantia.woff") format("woff"),
	url("../fonts/constantia.ttf") format("truetype"),
	url("../fonts/constantia.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PF Din Text Cond Pro";
	src: local("PF Din Text Cond Pro"),
	url("../fonts/pfdintextcondpro-regular-webfont.eot"),
	url("../fonts/pfdintextcondpro-regular-webfont.woff2") format("woff2"),
	url("../fonts/pfdintextcondpro-regular-webfont.woff") format("woff"),
	url("../fonts/pfdintextcondpro-regular-webfont.ttf") format("truetype"),
	url("../fonts/pfdintextcondpro-regular-webfont.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Constantia";
	src: local("Constantia"),
	url("../fonts/ConstantiaBold.eot"),
	url("../fonts/ConstantiaBold.woff2") format("woff2"),
	url("../fonts/ConstantiaBold.woff") format("woff"),
	url("../fonts/ConstantiaBold.ttf") format("truetype"),
	url("../fonts/ConstantiaBold.svg") format("svg");
	font-weight: bold;
	font-style: normal;
}


.wrapper {
	background: url("../pictures/pattern2.png");
	width: 100%;
	border: 0px solid royalblue;
	/*height: 500%;*/
}

header{
	margin: auto;
	width: 1200px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
	z-index: 999;
}

.header_img{
	width: 1200px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.contacts{
	float: right;
	margin: -168px 115px 0 0;
	border: 0px solid royalblue;
	position: relative;
}

.contacts:after{
	clear: both;
	content: "";
	display: table;
}

.contacts_right_col{
	float: right;
	margin-left: 41px;
}

.contacts_left_col{
	float: left;
}

.vk{
	border: none;
}

.insta{
	border: none;
}

.content{
	position: relative;
	width: 1200px;
	margin: auto;

}

.mainpage{
	margin-top: -95px;
	position: relative;
	z-index: 800;
}

.box_text_mainpage{
	width: 800px;
	height: 300px;
	border: 0px solid royalblue;
	margin: -425px auto 0px;
	position: relative;
	color: white;
	z-index: 820;
}

.title_mainpage{
	font-family: Constantia;
	font-size: 36px;
	text-align: center;
	margin-top: -19px;
	border: 0px solid royalblue;
}

.text_mainpage{
	font-family: PF Din Text Cond Pro;
	font-size: 24px;
	text-align: center;
	margin-top: 65px;
}

.wrap_second_box{
	position: relative;
	z-index: 350;
}

.wrap_slider{
	border: 0px solid royalblue;
	font-family: "PF Din Text Cond Pro";
	font-size: 30px;
	margin-top: -573px;
}

.title_second_box{
	color: white;
	font-family: Constantia;
	font-size: 36px;
	/*font-weight: bold;*/
	position: absolute;
	z-index: 900;
	text-align: center;
	margin-top: -608px;
	margin-left: 475px;

}

.slider{
	width: 972px;
	border: 0px solid #ff60f5;
	margin: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
	z-index: 999;
}

.item_first{
	border: 0px solid royalblue;
	height: 100%;
	width: 296px;
	margin: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.name{
	padding-top: 5px;
}


.item{
	margin: auto;
}

#owl-demo .item{
	/*background: #e7f2e3;*/
	padding: 30px 0px;
	margin: 10px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
.customNavigation{
	text-align: center;
	border: 0px solid #2dff4f;
	color: #FFFFFF;
	margin-top: -345px;
	position: relative;
}

.customNavigation a{
	  color: #FFFFFF;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	  cursor: pointer;
  }

.owl-pagination{
	  display: none;
  }

.customNavigation > .next{
	float: right;
	margin-right: 47px;
}

.customNavigation > .prev{
	float: left;
	margin-left: 47px;
}

.customNavigation:after{
	clear: both;
	content: "";
	display: table;
	height: 320px;
}

.picture_reasons_backgroud{
	margin-top: -68px;
	width: 1200px;
	position: relative;
	z-index: 300;
}

.ten_reasons{
	width: 660px;
	margin: -900px auto 0;
	border: 0px solid #2dff4f;
	height: 600px;
	position: relative;
	padding-bottom: 300px;
	z-index: 999;
}

.title_reasons{
	font-family: Constantia;
	text-align: center;
	color: white;
	font-size: 36px;
	/*font-weight: bold;*/
}

.item_reasons{
	clear: both;
	content: "";
	display: table;
	padding-bottom: 15px;
}


.all_reasons{
	border: 0px solid #2dff4f;
	margin-top: 40px;
	font-family: Constantia;
	color: white;
	font-size: 24px;
}

.icon_reasons{
	float: left;
	width: 50px;
	margin-right: 24px;
	text-align: center;

}


.text_item_reasons{
	float: right;
	vertical-align: bottom;
	padding-top: 5px;
	font-size: 24px;
}

.button_reasons_box{
	width: 340px;
	margin: -170px auto 0px;
	position: relative;
	padding-bottom: 200px;
	z-index: 999;

}

.button_reasons{
	position: absolute;
}


.button_reasons_box a{
	cursor: pointer;
}

.button_reasons:hover{
	width: 338px;
	height: 66px;
	/*display: none;*/
}

.text_rhombus_our_program{
	color: white;
	font-size: 36px;
	font-family: Constantia;
	font-weight: bold;
	text-align: center;
	margin-top: -95px;
}

.rhombus_our_program{
	margin-top: -94px;
	position: relative;
	z-index: 290;
}

.wrap_programs{
	color: #593315;
	position: relative;
}

.programs_background{
	position: relative;
	z-index: 280;
	margin-top: -20px;
}

.item_program{
	border: 0px solid #2dff4f;
	width: 962px;
	margin: 0 auto 10px;
}

.name_item_program{
	font-family: Constantia;
	font-weight: bold;
	font-size: 30px;

}

.icon_program{
	height: 24px;
	border: 0px solid #2dff4f;
}

.point_time_price_program{
	width: 138px;
	display: inline-block;
	border: 0px solid #2b42ff;
	margin: 13px 17px 0 0;
}

.area_program{
	width: 88px;
	height: 24px;
	background: white;
	display: inline-block;
	margin-left: 14px;
	font-size: 16px;
	font-family: "PF Din Text Cond Pro";
	text-align: center;
	vertical-align: top;
	padding-top: 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.description_program{
	font-size: 18px;
	font-family: "PF Din Text Cond Pro";
	margin-top: 10px;
}

.all_item_program{
	border: 0px solid #4dffe4;
	margin-top: -2500px;
	position: relative;
	z-index: 999;
}

.tracery_program{
	margin: 20px auto 1px;
	width: 82px;
}

.point_bonus_program{
	display: inline-block;
	border: 0px solid #4dffe4;
	font-size: 16px;
	font-family: "PF Din Text Cond Pro";
	height: 26px;
	vertical-align: top;
	padding-top: 14px;
}